.photo {
  position: relative;
  max-width: 400px;
  margin: 15px auto;
}

.image {
  width: 100%;
  height: auto;
}

.body {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: scale 0.3s ease 0.3s;
}